
.parallax {
  background-image: url("../../assets/Imagens/apertomao.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #ffffff84,
    0 0 10px #ffffff85,
    0 0 20px #ffffff83,
    0 0 40px rgba(0, 255, 255, 0.537),
    0 0 80px rgba(0, 255, 255, 0.535),
    0 0 90px rgba(0, 255, 255, 0.501),
    0 0 100px rgba(0, 255, 255, 0.5),
    0 0 150px rgba(0, 255, 255, 0.507);
}