.img-promo {
  background-image: url('./assets/images/banner2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.progress-bar {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.percentage-text {
  color: white !important;
}