.img-promo {
  background-image: url('./assets/images/banner2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.progress-bar {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.percentage-text {
  color: #615c5c !important;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 5))
  }
}

.slider {
  height: 100px;
  position: relative;
  max-width: 100%;
  overflow:hidden;
}

.slide-track {
  animation: scroll 16s linear infinite;
  display: flex;
  width: calc(250px * 10);
}

.slide {
  height: 100px;
  width: 250px;
}

.bounce-in-left {
  animation: bounce-in-left 2s ease;
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2000px); /* Inicia da esquerda */
  }
  60% {
    opacity: 1;
    transform: translateX(30px); /* Move para a direita */
  }
  80% { transform: translateX(-10px); /* Ajuste antes de parar */ }
  100% { transform: translateX(0); /* Fica no lugar final */ }
}
